<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dinus.androiddemo"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.write_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.example.dinus.vitamiocamera.VCameraDemoApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="my.com"
                    android:scheme="m" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second">

        </activity>
        
        <activity android:name=".InitActivity"
            android:label="initActivity"/>
        <activity
            android:name="com.example.dinus.vitamiocamera.VideoRecordActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme">

        </activity>
        <activity
            android:name="com.example.dinus.vitamiocamera.VideoProcessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"></activity>
    </application>

</manifest>
